
.aboutcontainer{
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items:flex-start;
    padding-top: 8rem;
    padding-left:2rem;
    padding-right:2rem;
    padding-bottom:2rem;
}

.aboutpage{
    align-items:flex-start;
}

.aboutoverlay{
    width:100%;
    max-width:70rem;
    background:rgba(0,0,0,0.75);
    padding: 2rem;
    color:white;
    display:flex;
    flex-direction:column;
    gap:1rem;
}


.aboutoverlay h1{
    font-size:2rem;
    margin-bottom:2rem;
}
.aboutoverlay p{
    font-size: 1rem;
    line-height:1.8;
    margin-bottom:1.5rem;
}

@media (min-width:768px) {
    .aboutoverlay{
        padding:3rem;
    }
    .aboutoverlay h1{
        font-size:3rem;
    }
    .aboutoverlay p{
        font-size:1.5rem;
    }
}
@media(min-width:1024px){
    .aboutoverlay{
        width:65%;
    }
    .aboutoverlay p{
        font-size:1.3rem;
    }
}
@media (min-width: 1024px) and (max-width: 1366px) {
    .aboutoverlay{
        padding:3rem;
    }
    .aboutoverlay h1{
        font-size:3rem;
    }
    .aboutoverlay p{
        font-size: 1.75rem;
    }
}