@font-face {
    font-family: EldenFont;
    src: url(../assets/fonts/Mantinia\ Regular.otf);
    font-weight: normal;
    font-style: normal;
}
body{
    font-family:EldenFont, serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pagebg{
    min-height: 100vh;

   background: url(../assets/images/Liurnia.jpg);
    background-size:cover;

    padding: 1rem;
}   

/* Nav Bar */
.logo{
    font-size: 1.5rem;
    display:flex;
    
}
.topbar{
    position:fixed;
    top:0;
    width:100%;
    padding:  1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:rgba(0,0,0,0.4);
    backdrop-filter:blur(4px);
    color:white;
    z-index: 10;
}
/* Mobile option first */
.navlinks{
    display:none;
}

.navlinks a{
    color: white;
    font-size: 1.75rem;
}
@media (min-width:768px) {
        .navlinks{
        display:flex;
        list-style:none;
        gap:3rem;
    }
}