@font-face {
    font-family: EldenFont;
    src: url(../assets/fonts/Mantinia\ Regular.otf);
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}